.content-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50vh;  /* Adjust so content starts just below the header */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    min-width: fit-content;
    height: auto;
}
