.first-focus-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh; /* Adjust dynamically based on lowerNav height */
    transition: margin-top 0.3s ease; /* Smooth adjustment when lowerNav expands */
    text-align: center; /* Center text horizontally */
    position: relative; /* Ensure proper positioning */
    padding-top: 10px;
}

.first-focus-heading {
    width: 100%;
    min-width: 90vw; /* Ensure it does not exceed the viewport width */
    font-family: "Belleza", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #534747; /* Set text color to black */
    margin-top: 0;
    margin-bottom: 5px;
    flex: 1;
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    word-wrap: break-word; /* Allow text to wrap if necessary */
    overflow-wrap: break-word;}

@media (max-width: 475px) {
    .first-focus-heading {
        font-size: 1.5rem; /* Shrink font size for smaller screens */
    }
}

.first-focus-heading h1 {
    flex: 1;
    display: flex;
    width: 100%;
}
