.first-focus-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* FirstFocus will now sit directly below the header lower nav */
    transition: margin-top 0.3s ease;
    text-align: center;
    position: relative;
    margin: 5vh 0 7vh 0;
}

.first-focus-heading {
    width: 100%;
    min-width: 90vw; /* Ensure it does not exceed the viewport width */
    font-family: "Belleza", sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    color: #534747; /* Set text color to black */
    margin-top: 0;
    margin-bottom: 5px;
    flex: 1;
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    word-wrap: break-word; /* Allow text to wrap if necessary */
    overflow-wrap: break-word;
}

@media (max-width: 475px) {

    .first-focus-container {
        margin-top: 12vh;
        margin-bottom: 5vh; /* Adjust margin for smaller screens */
    }

    .first-focus-heading {
        font-size: 1.7rem; /* Shrink font size for smaller screens */
    }
}

.first-focus-heading h1 {
    flex: 1;
    display: flex;
    width: 100%;
}
