.primary {
    position: relative; /* Set the container as the reference for positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.container {
    position: relative; /* Fix the container to the top of the page */
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: fit-content;
    width: 100%;
    min-width: fit-content;;
    border-radius: 10px;
    z-index: 1; /* Place the container above the background image */
    left: 0;
}

.backgroundImg {
    position: fixed; /* Position the image fixed to the viewport */
    top: 0; /* Align the top of the image with the top of the viewport */
    left: 0;
    width: 100%; /* Adjust width to account for the 3px border on both sides */
    height: 55vh; /* Allow the height to adjust based on the image's aspect ratio */
    object-fit: cover; /* Ensure the entire image is visible without cropping */
    overflow: hidden;
    z-index: 0; /* Place the image behind all other elements */
    object-position: 0 40%; /* Position the image at the top center */
    box-sizing: border-box; /* Ensure border is included in the element's dimensions */
}

.lowerHeader {
    position: absolute; /* Position the lowerHeader relative to the image */
    top: 55vh; /* Start immediately after the bottom of the image */
    left: 0; /* Flush to the left */
    width: 100%; /* Full width */
    background-color: #42898e; /* Background color for the bar */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the content */
    align-items: center;
    padding: 0; /* Remove padding */
    z-index: 1; /* Ensure it appears above the background image */
    height: 60px; /* Explicitly set height */
    max-height: 407px; /* Set maximum height */
    min-height: fit-content;
    box-sizing: border-box; /* Ensure padding and border are included in the element's dimensions */
}

.top-overlay {
    position: absolute; /* Match the fixed positioning of the background image */
    top: 0; /* Align the top-overlay with the top of the background image */
    left: 0;
    width: 100vw; /* Ensure it spans the full viewport width */
    min-width: 100vw; /* Prevent horizontal overflow */
    max-width: 100%;
    height: 16%; /* 10% of the height of the background image */
    background-color: rgba(128, 128, 128, 0.7); /* Semi-transparent grey */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1; /* Ensure it appears above the background image */
    box-sizing: border-box; /* Ensure padding and borders are included in dimensions */
    overflow-x: hidden; /* Prevent horizontal overflow */
} */

.lowerNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Explicitly match the parent's height */
    max-height: 420px; /* Set maximum height */
    min-height: fit-content;
    min-width: 220px;
    padding: 0; /* Remove padding */
    gap: 0; /* Remove gap between elements */
    margin: 0; /* Remove margin */  
    box-sizing: border-box; 
    background-color: none;
    overflow: hidden; /* Hide excess content */
}

.lowerNav a {
    flex: 1; /* Prevent items from stretching */
    font-family: 'lucida sans', sans-serif;
    font-size: 1.2rem;
    width: auto; /* Keep current width */
    min-width: fit-content;
    max-width: 175px;
    font-weight: bolder;
    color: white;
    padding: 0 8px; /* Add 3px of padding */
    height: 100%; /* Match the height of the containing div */
    text-decoration: none;
    background-color: none; /* Match the background color of the containing div */
    cursor: pointer;
    line-height: 1.5;
    box-sizing: border-box;
    box-shadow: none; /* Remove box-shadow */
    border-radius: 0; /* Remove border-radius */
    align-content: center;
    transition: all 0.2s ease; /* Add smooth transition */
    border-left: 1px solid #346e72; /* Add left border */
    border-right: 1px solid #346e72; /* Add right border */
    border-top: none; /* Remove top border */
    border-bottom: none; /* Remove bottom border */
}

.lowerNav a:hover {
    background-color: #346e72;
    transform: translateY(1px); /* Slightly move down to enhance the effect */
}

.logo {
    height: 90%; /* Scale the logo to 80% of the header bar's height */
    width: auto; /* Maintain aspect ratio */
    border-radius: 100%;
    padding: 5px;
}

.give-now-button {
    height: calc(fit-content + 6px); /* Scale the button to fit content */
    padding: 0 20px; /* Adjust padding for consistent height */
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #DC3545;
    cursor: pointer;
    line-height: 1.5;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    transition: all 0.2s ease; /* Add smooth transition */
}

.give-now-button:hover {
    background-color: #BD2130;
    transform: translateY(1px); /* Slightly move down to enhance the effect */
}

.summary {
    margin: 50px 10px 0 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px;
    font-weight: bold;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.header-title {
    flex: 1;
    display: flex;
    font-family: "Belleza", sans-serif;
    font-weight: 500;
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    color: white;
    margin-right: 10px;
    text-transform: none; /* Capitalize the first letter of each word */
    text-align: center; /* Ensure text is centered horizontally */
}

.header-container{
    height: fit-content;
    margin-bottom: 60vh;
}

.button-group {
    display: flex;
    flex: 1;
    gap: 10px; /* Add gap between buttons */
    align-items: center;
    max-width: fit-content;
    margin-right: 10px;
}

.contact-us-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem; /* Match font size */
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #639f81; /* Keep current color */
    padding: 0 20px; /* Match padding */
    height: calc(fit-content + 6px); /* Match height */
    line-height: 1.5; /* Match line height */
    border: none;
    border-radius: 5px; /* Match border radius */
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
    white-space: nowrap; /* Prevent text wrapping */
    display: inline-block; /* Ensure it stays inline */
}

.contact-us-button:hover {
    background-color: #99bcae; /* Keep hover effect */
    transform: translateY(1px); /* Slightly move down to enhance the effect */
}

.give-now-button, .contact-us-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem; /* Match font size */
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 5px 15px; /* Match padding */
    height: calc(fit-content + 6px); /* Match height */
    line-height: 1.5; /* Match line height */
    border: none;
    border-radius: 5px; /* Match border radius */
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
    white-space: nowrap; /* Prevent text wrapping */
    display: inline-block; /* Ensure it stays inline */
}

.give-now-button {
    background-color: #ad2835;
}

.give-now-button:hover {
    background-color: #961b27;
}

.contact-us-button {
    background-color: #42898e; 
}

.contact-us-button:hover {
    background-color: #346e72;
}

@media (max-width: 475px) {
    .give-now-button, .contact-us-button {
        font-size: 1.1rem; /* Shrink font size */
        padding: 0 15px; /* Adjust padding */
    }

    .button-group {
        flex-direction: column; /* Stack buttons vertically */
        gap: 15px; /* Add vertical spacing between buttons */
        margin-right: 10px;
    }

    .give-now-button, .contact-us-button {
        width: 100%; /* Make buttons full width */
        text-align: center; /* Center text inside buttons */
    }
}

.first-focus-container {
    margin-top: 40vh; /* Adjust margin to account for lowerNav height */
    transition: margin-top 0.3s ease; /* Smooth adjustment when lowerNav expands */
}