#root {
  width: 98%;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: center;
  padding: 0;
  margin: 0;
}
