:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

html, body {
    width: 100vw; /* Ensure the HTML and body elements span the full viewport width */
    min-width: 100vw; /* Prevent horizontal overflow */
    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Explicitly hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in dimensions */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  overflow-y: auto; /* Enable scrolling on overflow along the y-axis */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

#root {
    width: 100vw; /* Ensure it spans the full viewport width */
    min-width: fit-content; /* Prevent horizontal overflow */;
    height: auto; /* Adjust height automatically */
    min-height: 100vh; /* Ensure it spans the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start; /* Correct alignment for content */
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Explicitly hide horizontal overflow */
    box-sizing: border-box; /* Ensure padding and borders are included in dimensions */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

